# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# results folder
results/*
CMakeFiles/*
build/*
**/CMakeFiles/
CMakeCache.txt
Makefile
.create_test_case.sh.swp
.ipynb_checkpoints/
.vscode/
mesh_files/gmsh/mesh_1.msh.opt
mesh_files/gmsh/test.vtk
